
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(34, 32, 32, 0.303);
    background: rgb(29, 1, 1);
}

.navbar .navbar-brand{

font-size: 25px;
font-weight: 400;
color: #8d0000 !important; 
}

#navbarSupportedContent a{
    color: white;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid rgb(205, 48, 48);
}

#navbarSupportedContent button{
    background: #FF4500;
    width: 5rem;
    border-radius: 13px;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*******home*******/


#home{
    background-color:#7f265d;
    background-size: cover;
    background-position: center;
    flex-direction: column;

}
#home h1{
    font-size: 100px;
    color: white;letter-spacing: 3px;
    font-family: "optima";
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 ;  
       
}

#home p{
    font-family: "optima";
    font-size: 18px;
    color: white;
}
#home .input-group{
    width: 40%;
    height: 45px;
}

.signin{
    background:#FF4500 !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);


}


/*******about*******/

#about{
    background: linear-gradient(to right,#2f2c2c,#310808 100%  );
    
}

#about h1{
    font-size: 50px;
    font-weight: 800;
    color: white;

}

#about p{
    color: white;

}



/* ===== skills =====*/
#skills{
    background: linear-gradient(to right,#3108088c,#d3bdbd 100%  );
    
}

#skills h1{
    font-size: 40px;
    font-weight: 800;
    color: rgb(40, 34, 34);

}
#skills h3{
    font-size: 25px;
    font-weight: 800;
    color: rgb(40, 34, 34);

}
#skills p{
    color: rgb(45, 41, 41);

}
#skills ul{
    color: rgb(34, 27, 27);
    font-weight: 600;
}
    
/******Education****/
#Education{
    background: linear-gradient(to right,#2f2c2c,#310808 100%  );

}
#Education h1{
    font-size: 50px;
    font-weight: 800;
    color: rgb(255, 255, 255);

}

#Education h4{
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);

}

#Education p{
    color: rgb(255, 244, 244);

}

#Education ul{
    color: rgb(255, 244, 244);

}
/*****contact*****/

#Contact{
    background: radial-gradient(circle at center, rgba(58, 43, 44, 0.673) 20%, rgba(58, 43, 44, 0.673) 50%, rgb(65, 4, 4));
}

#Contact h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}

